<app-diretiva-ngif [hidden]="true"></app-diretiva-ngif>
<app-diretiva-switch [hidden]="true"></app-diretiva-switch>
<app-diretiva-ngfor [hidden]="true"></app-diretiva-ngfor>
<app-diretiva-ngclass [hidden]="true"></app-diretiva-ngclass>
<app-diretiva-ngstyle [hidden]="true"></app-diretiva-ngstyle>
<app-operador-elvis [hidden]="true"></app-operador-elvis>
<app-exemplo-ng-content [hidden]="true">
  <div class="titulo">Conteúdo passado para o component - Título</div>
  <div class="corpo">
    <app-operador-elvis></app-operador-elvis>
  </div>
</app-exemplo-ng-content>
<app-diretivas-customizadas ></app-diretivas-customizadas>
